<header>
  <h1 class="logo">
    <a href="/">Sahara</a>
  </h1>

  <nav>
    <a href="/">Home</a>
    <a href="/pages/shop.html">Shop</a>
    <a href="/pages/about.html">About</a>
    <a href="/pages/contact.html">Contact</a>
    <button class="seller-btn">Seller</button>
  </nav>

  <div class="header-right">
    <button
      class="icon-btn"
      type="button"
      id="search-toggle"
      aria-hidden="false"
      aria-controls="search-form"
    >
      <span class="material-symbols-outlined">search</span>
    </button>

    <form action="#" class="search-form" id="search-form" aria-hidden="true">
      <span class="material-symbols-outlined">search</span>
      <input id="search-input" type="search" placeholder="Search products..." />
    </form>

    <button class="icon-btn" type="button" id="shopping-cart">
      <span class="material-symbols-outlined">shopping_cart</span>
    </button>
  </div>
</header>
